* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change__account {
    max-height: 50px;
    display: inline-block;
}

.none {
    display: none !important;
}

.container__reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
}

.user__message {
    margin-top: 30px;
    max-width: 300px;
    min-width: 300px;
}

.user__name {
    text-align: center;
}

.messenger-user__photo {
    width: 100%;
}
.messenger-user__photo--before{
    position: relative;
}
.messenger-user__photo--before::before{
    content: '';
    position: absolute;
    height: 98%;
    width: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.18);
}
.messenger-user__btn{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%, -50%)
}
.messenger-main__chat-list {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
}


.message-to {
    color: #272727;
    width: fit-content;
    max-width: 40%;
    align-self: flex-end;
    padding: 5px 10px;
    border-radius: 10px;
    background: #95ffe5;
    word-break: break-word;
    word-wrap: anywhere;
}

.message-from {
    width: fit-content;
    max-width: 40%;
    padding: 5px 10px;
    border-radius: 10px;
    color: #95ffe5;
    background: #272727;
    word-break: break-word;
    word-wrap: anywhere;
}

.message__time--to {
    font-size: 10px;
    float: right;
    line-height: initial;
    width: fit-content;
    color: rgba(0, 0, 0, 0.50);
    height: fit-content;
}
.messenger-main__message-text span{
    color: white !important;
    background: transparent !important;
    font-size: inherit !important;
}
.message__time--from {
    font-size: 10px;
    width: fit-content;
    float: right;
    line-height: initial;
    height: fit-content;
    color: rgba(255, 255, 255, 0.30);
}

.messenger-main__push-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messenger-main__emoji{
    border: 0;
    outline: 0;
    width: 24px;
    cursor: pointer;
    padding: 0;
    height: 24px;
    background: url(../img/manifest/messenger/emoji.svg) no-repeat center;
    background-size: contain;
    border-style: none;

}

.messenger-main__emoji-block {
    position: relative;
    display: inline-flex;
}

.messenger-main__emoji-list {
    position: absolute;
    top: -310px;
    overflow-y: scroll;
    left: -190px;
    flex-wrap: wrap;
    width: 250px;
    height: 300px;
    transform: scale(0);
    transition: 0.5s;
    padding: 10px;
    justify-content: space-between;
    gap: 10px;
    border-radius: 10px;
    background: #272727;
    display: none;
}


.messenger-main__emoji-list::-webkit-scrollbar {
    width: 5px;
    background: 0 0
}

.messenger-main__emoji-list::-webkit-scrollbar-thumb {
    width: 5px;
    background: #272727;
    border-radius: 20px
}
[contentEditable=true]:empty:not(:focus):before{
    color: rgba(255, 255, 255, 0.20);
    content:attr(data-text);
}
.messenger-main__emoji-img{
    cursor: pointer;
    width: 35px;
    padding: 5px;
}

.messenger-main__emoji-img:hover {
    background: #5f6164;
    border-radius: 5px;
}
.messenger-main__emoji-image{
    width: 22px;
    align-self: center;
    vertical-align: bottom;
    pointer-events: none;
}
.messenger-nav-2__search-rez {
    display: none;
    min-height: 50px;
    overflow-y: scroll;
    max-height: 100px;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-top: none;
    background: rgba(0, 0, 0, 0.15);
    padding: 3%;
}

.messenger-nav-2__search-rez::-webkit-scrollbar {
    width: 5px;
    background: 0 0
}

.messenger-nav-2__search-rez::-webkit-scrollbar-thumb {
    width: 5px;
    background: #272727;
    border-radius: 20px
}

.messenger-nav-2__search-btn--close {
    border: 0;
    width: 15px;
    cursor: pointer;
    height: 11px;
    outline: 0;
    background: url(../img/manifest/messenger/close.svg) no-repeat;
    background-size: contain
}
.messenger-nav-2__friendAdd-btn{
    border:0;
    width:20px;
    cursor:pointer;
    height:15px;
    outline:0;
    background:url(../img/manifest/messenger/add-user.png) no-repeat;
    background-size:contain;
    margin-left: 10px;
}

.cursor{
    cursor: pointer;
}

.cursor:hover {
    color: #95ffe5;
}

.messenger-nav-2__friend--user {
    font-size: 16px;
    font-weight: normal;
    width: 85%;
    text-overflow: ellipsis ;
    overflow: hidden;
}

.message-number {
    font-size: 12px;
    color: #000;
    padding: 0 8px;
    border-radius: 5px;
    background: #95ffe5;
}

.messenger-main__notification--block {
    display: flex;
    position: relative;
}

.messenger-main__notification-list {
    display: none;
    position: absolute;
    top: 20px;
    overflow-x: scroll;
    left: -230px;
    width: 0;
    height: 0;
    transition: 0.1s;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background: rgba(39, 39, 39, 0.90);
    font-size: 15px;
}

.messenger-main__notification-list li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    padding-bottom: 5px;
    max-width: 100%;
    text-overflow: ellipsis;
}

.messenger-main__notification-list::-webkit-scrollbar {
    width: 5px;
    background: 0 0
}

.messenger-main__notification-list::-webkit-scrollbar-thumb {
    width: 5px;
    background: #272727;
    border-radius: 20px
}