* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change__account {
    max-height: 50px;
    display: inline-block;
}

.none {
    display: none !important;
}

.container__reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
}

.user__message {
    margin-top: 30px;
    max-width: 300px;
    min-width: 300px;
}

.user__name {
    text-align: center;
}

.messenger-user__photo {
    width: 100%;
}

.messenger-user {
    flex-grow: 1;
}

.messenger-main__chat-list {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
}


.message-to {
    color: #272727;
    width: fit-content;
    max-width: 40%;
    display: inline-flex;
    gap: 10px;
    align-self: flex-end;
    text-align: right;
    padding: 5px 10px;
    border-radius: 10px;
    background: #95ffe5;
}

.message-from {
    width: fit-content;
    max-width: 40%;
    padding: 5px 10px;
    border-radius: 10px;
    color: #95ffe5;
    background: #272727;
    display: inline-flex;
    gap: 10px;
}

.message__time--to {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.50);
    padding-top: 5px;
}

.message__time--from {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.30);
    padding-top: 5px;
}

.messenger-main__push-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messenger-main__emoji{
    border: 0;
    outline: 0;
    width: 24px;
    cursor: pointer;
    padding: 0;
    height: 24px;
    background: url(../img/manifest/messenger/emoji.svg) no-repeat center;
    background-size: contain;
}

.messenger-main__emoji-block {
    position: relative;
    display: inline-flex;
}

.messenger-main__emoji-list {
    position: absolute;
    top: -310px;
    overflow-y: scroll;
    left: -150px;
    flex-wrap: wrap;
    width: 200px;
    height: 300px;
    padding: 1%;
    border-radius: 10px;
    background: #272727;
}

.messenger-main__emoji-list--close {
    display: none;
}

.messenger-main__emoji-list::-webkit-scrollbar {
    width: 5px;
    background: 0 0
}

.messenger-main__emoji-list::-webkit-scrollbar-thumb {
    width: 5px;
    background: #272727;
    border-radius: 20px
}


.messenger-nav-2__search-rez {
    display: none;
    min-height: 50px;
    overflow-y: scroll;
    max-height: 100px;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-top: none;
    background: rgba(0, 0, 0, 0.15);
    padding: 3%;
}

.messenger-nav-2__search-rez::-webkit-scrollbar {
    width: 5px;
    background: 0 0
}

.messenger-nav-2__search-rez::-webkit-scrollbar-thumb {
    width: 5px;
    background: #272727;
    border-radius: 20px
}

.messenger-nav-2__search-btn--close {
    border: 0;
    width: 15px;
    cursor: pointer;
    height: 11px;
    outline: 0;
    background: url(../img/manifest/messenger/close.svg) no-repeat;
    background-size: contain
}
.messenger-nav-2__friendAdd-btn{
    border:0;
    width:20px;
    cursor:pointer;
    height:15px;
    outline:0;
    background:url(../img/manifest/messenger/add-user.png) no-repeat;
    background-size:contain;
    margin-left: 10px;
}
.web__eye{
    width: 50px;
}
.web__container{

}